/* Overall */

.title_section, #title_section {
	margin: 0;
	display: flex;
	align-items: center;
	font-size: 1.5em;
}

/* Recording Header */

div#wrap_selector {
	display: grid;
	grid-template-columns: minmax(100px, auto) 1fr;
	column-gap: 20px;
	row-gap: 8px;
	margin-bottom: 8px;
}

h2.title_selector {
	justify-content: flex-end;
}

table#wrap_sel_problem {
	table-layout: fixed ;
	width: 100%;
	height: 32px;
}

td.sel_problem {
	text-align: center;
	border-bottom: 2px solid #DDDAD0;
	border-left: 2px solid #DDDAD0;
	background: #faf9f5;
}

td.selected {
	background: #E0E0E0;
}

td.sel_problem > a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	/* text-align: center; */
	/* vertical-align: middle; */
}

div#recording_wrap {
	display: grid;
	/* width: ; */
	min-height: 50vh;
	gap: 8px;
}

/* IDE In Recording */

div#ide_wrap {
	display: flex;
	/* width: calc(100vw - 200px); */
	height: 50vh;
	padding: 0;
	border: 0;
}

fieldset#editor_wrap {
	width: 70%;
	height: 100%;
	padding: 0;
	border: 0;
}

div#code_editor {
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0;
}

fieldset#in_wrap {
	width: 15%;
	height: 100%;
	padding: 0;
	border: 0;
}

fieldset#out_wrap {
	width: 15%;
	height: 100%;
	padding: 0;
	border: 0;
}

textarea.in_out {
	resize: none;
	width: 100%;
	height: 100%;
}

/* Input Player */

div.wrap_input_player {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

div.wrap_input_player > input {
	flex: 1;
}

/* List Recording */

div#wrap_sel_recording {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

div.sel_recording {
	background: #fff;
	border-bottom: 1px solid #DDDAD0;
    border-left: 1px solid #DDDAD0;
	display: flex;
	flex-direction: column;
	padding: 8px;
	border-radius: 4px;
}

div.sel_recording > h3 {
	margin: 0;
}
